.container{
  /* background-image: url(),url('');
  background-position: top right , top left;
  background-repeat: no-repeat,no-repeat; */
  background-image: url(../assets/circle.svg), url(../assets/blob-small.svg);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;

}
