<div class="headerSection" [ngStyle]="{'position':setStickyHeader ? 'fixed':'absolute' ,'background':setStickyHeader ? '#ffffff':''}">
  <img class="logo" src="../../../../assets/logo.png"  [ngStyle]="{'width' :setStickyHeader ? '5%' :'7.5%'}" alt="logo.png">
  <div class="contentRight" [ngStyle]="{'marginTop' : setStickyHeader ? '1%' :'2%'}">
    <a>Products</a>
    <a>Solutions </a>
    <a>Pricing</a>
    <button class="login" type="button">Login</button>
    <button class="getStarted" type="button">Get Started</button>
  </div>
</div>
