.container {
  background:#663399 ;
  padding: 2vw;
  border-radius: 0% 20% 20% 0%;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Montserrat;
  color: white;
  text-align: center;
}
small{
  font-size: .8rem;
}
.getStarted{
  border-radius: 20%;
  background:  transparent linear-gradient(90deg, #ffffff 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
  border:2px solid #663399 ;
  color: #663399;
  font-size: 0.9rem;
  font-weight: 600;
  width: 7vw;
  height: 2vw;
  border-radius: 24px;
  cursor: pointer;
  margin-right: 4%;
}
